.btn-entry {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.text-conatiner {
  background-color:rgb(156, 213, 215);
  width: 90%;
  height: 100%;
}
