<!-- <child1 [counter]="counter" (changeName)="onChangeName($event)"> </child1>
<child2 [counter]="counter"></child2>
<button (click)="increase()"></button>

<child3 [count]="myCount" (change)="counterChange($event)"></child3>

<child4 (clicked)="checkIfClick($event)"></child4> -->
<!--
<child5 [(name)]="parentName"></child5>
<p>You typed: {{ parentName }}</p> -->
<!--
<child6 [(amount)]="sum"></child6>
<p>New amount: {{ sum }}</p>
<button (click)="increase()">+1</button>
<button (click)="decrease()">-1</button> -->

<!-- <child7></child7>

<star-rating [(rating)]="userRating"></star-rating>
<button (click)="increaseStar()"></button> -->

<!-- <app-child9></app-child9>

<button #projBtn>Click me</button> -->
<!-- <button (click)="resetChildStatus()"></button> -->
<!-- <p>Current count from parent: {{ count }}</p>
<button (click)="increaseCount()">+</button>
<button (clcik)="decreaseCount()">-</button> -->
<app-child10></app-child10>
<app-child11></app-child11>