<h3>Signal Array Demo</h3>

<!-- Option 1: Use HTML entities for { and } -->
<button (click)="add10()">Add &#123;id:10,'A'&#125;</button>
<button (click)="add11()">Add &#123;id:11,'B'&#125;</button>
<button (click)="add12()"> Add 12</button>
<button (click)="update10()">Update 10 → 'AA'</button>
<button (click)="update12()">Update 12</button>


<button (click)="trySetMethod()">Try set method</button>
<button (click)="remove10()">Remove 10</button>
<button (click)="remove11()">Remove 11</button>
<button (click)="remove12()"> Remove 12</button>
<button (click)="remove15()">Remove 15</button>

<pre>{{ arr() | json }}</pre>

<button type="button" (click)="login()">Login</button>